<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                     <li>
                        <a href="{{ path('blog') }}">News</a>
                    </li>
                     <li>
                        <a href="#">Films</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                     <li>
                        <a href="{{ path('admin_pannel') }}">Administration</a>
                    </li>
                    <li>
                        <a href="{{ path('blog_create') }}">Nouvel article</a>
                    </li>
                    <li>
                        <a href="{{ path('blog_category') }}">Catégories</a>
                    </li>
                    <li>
                        <a href="{{ path('category_create') }}">Ajouter une catégorie</a>
                    </li>
                    {% elseif is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('user_profil') }}">Profil</a>
                    </li>
                    <li>
                        <a href="{{ path('security_logout') }}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ path('security_login') }}">Connexion</a>
                    </li>
                    <li>
                        <a href="{{ path('security_signup') }}">S'enregistrer</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
